/*................... ЧЕКБОКС................................... */

.pt-checker_L {
    border: 0;
    height: 1px;
    left: -4999px;
    opacity: 0;
    padding: 0;
    position: absolute;
    width: 1px;
    z-index: -1
}

.pt-checkbox-label_L {
    color: #0009;
    cursor: pointer;
    display: inline-block;
    font-family: PT-Roboto;
    /*font-family: sans-serif;*/
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .15px;
    line-height: 22px;
    min-height: 22px;
    padding-left: 25px;
    position: relative;
    transition: color .3s ease-in;
    vertical-align: middle
}

.pt-checkbox-label_L:before {
    display: inline-block;
    font-family: pt-icon-font;
    font-size: 14px;
    font-size: inherit;
    font-style: normal;
    font-weight: 400;
    text-rendering: geometricPrecision;
    transform: translate(0);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased
}

.pt-checkbox-label_L:before {
    border: 1px solid #65738b;
    border-radius: 0;
    color: #fc30;
    content: "";
    font-size: 20px;
    height: 18px;
    left: 0;
    line-height: 16px;
    position: absolute;
    text-align: center;
    top: 2px;
    transition: border-color,background .2s linear;
    vertical-align: middle;
    width: 18px
}


.pt-checkbox-label_L:hover {
    color: #000
}

.pt-checkbox-label_L:hover:before {
    background: #f9fafb;
    border-color: #4f5a6d
}



.pt-checker_L:checked~.pt-checkbox-label_L {
    color: #000
}

.pt-checker_L:checked~.pt-checkbox-label_L:before {
    /*color: #fc3*/
    color: #ff4568
}
.pt-checker_L:checked~.pt-checkbox-label_L:before {
    border: none;
    left: -1px;
    line-height: 16px;
    line-height: 18px
}

@font-face {
    font-display: auto;
    font-display: block;
    font-family: pt-icon-font;
    font-style: normal;
    font-weight: 400;
    src: url(https://s2.p-static.ru/fonts/pt-icon/1.16/pt-icon-font.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: PT-Roboto;
    font-style: normal;
    font-weight: 300;
    src: url(https://s2.p-static.ru/fonts/roboto-light.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: PT-Roboto;
    font-style: normal;
    font-weight: 400;
    src: url(https://s2.p-static.ru/fonts/roboto-regular.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: PT-Roboto;
    font-style: normal;
    font-weight: 500;
    src: url(https://s2.p-static.ru/fonts/roboto-medium.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: PT-Roboto;
    font-style: normal;
    font-weight: 700;
    src: url(https://s2.p-static.ru/fonts/roboto-bold.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: PT-Roboto;
    font-style: normal;
    font-weight: 900;
    src: url(https://s2.p-static.ru/fonts/roboto-black.woff2) format("woff2")
}
