.drop-section{
    min-height: 10px;
    border: 1px dashed #a8b3e3;
    background-image: linear-gradient(180deg, white, #f1f6ff);
    /*margin: 5px 35px 35px 35px;*/
    border-radius: 12px;
    position: relative;
    display: flex;
}

.drop-section li {
    display: flex;
    padding-top: 1px;
    margin-top: 1px;
}

.drop-section div.col:first-child{
    flex: 1;
    opacity: 1;
    visibility: visible;
    transition-duration: 0.2s;
    transform: scale(1);
    width: 400px;
    margin: auto;
}

.drop-section div.col:last-child{
     font-size: 14px;
    font-weight: 700;
    color: #c0cae1;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    /*width: 200px;*/
    /*height: 55px;*/
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.6);
    transition-duration: 0.2s;
}


.drop-section span,
.drop-section button{
    display: block;
    margin: auto;
    color: #707EA0;
    /*margin-bottom: 10px;*/
}
.drop-section button{
    color: white;
    background-color: #5874C6;
    border: none;
    outline: none;
    padding: 0px 10px;
    border-radius: 8px;
    /*margin-top: 10px;*/
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.drop-section input{
    display: none;
}

.drag-over-effect div.col:first-child{
    display: flex;
    /*flex: 0.2;*/
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: scale(1.1);
}
.drag-over-effect div.col:last-child{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

