.text_auto {
  font-family: Roboto, Arial;
    font-size: 18.4px;

  margin: 0;

}

.my_border{
    border-radius: 10px;
    /*width: 25%;*/
    height: 200px;
    border-width: 0px;
    border-style: solid;

    padding: 10px;

}

.doberman {
    display: block;
    width: 150px;
    height: auto;
    left: 20px;
    text-align: center;
     margin-left: auto;
    margin-right: auto;
}

.my_header_text_big {
  font-family: "Montserrat",sans-serif;
  font-size: 19px;
  text-rendering: optimizeLegibility;
  line-height: 24px;
  color: #555;
}
.p-1 {
  padding: .25rem !important;
}

.G450S {
    display: flex;
  align-items: center;
  justify-content: center;
    }

.das_121 {
    display: flex;
    align-items: center;
    font-family: pt-icon-font;
    position: relative;
}
.das_122 {
    display: none;
    /*position: relative;*/
}

.das_122::before {
    content: "";
    font-size: 34px;
    cursor: pointer;
    top: 50%;
    vertical-align: middle;
    font-weight: 400;
    color: #b3b3b3;

}
.das_122:hover:before {
    color: #0d6efd;

}

/*********** Search *******************/
.search-box_b1 {
    width: 600px;
    background: #fff;
    margin: 50px auto 0;
    border-radius: 5px;

}

.row_b1 {
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 10px;
    border: 1px solid rgba(19,15,64,.15);
    border-radius: 5px;
}
.result-box_b1 {
    box-shadow: 0 24px 38px #445c8224,0 9px 46px #445c821f,0 11px 15px #445c8205;
    margin-top: 5px;
}


input {
    flex: 1;
    height: 40px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #333;
}
button {
    background: transparent;
    border: 0;
    outline: 0;
}
button .fa-solid {
    width: 25px;
    color: rgba(85, 85, 85, 0.42);
    font-size: 15px;
    cursor: pointer;
}
::placeholder {
    color: #555;
}
.result-box_b1 ul {
    border-top: none;
    padding: 15px 10px;
}
.result-box_b1 ul li {
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
}
.result-box_b1 ul li:hover {
    background: #e9f3ff;
}

.result-box_b2 > * {
    font-family: PT-Roboto;
}


.result-box_b2 {
    box-shadow: 0 24px 38px #445c8224,0 9px 46px #445c821f,0 11px 15px #445c8205;
    margin-top: 5px;
    width: 500px;
    border-radius: 3px;
    z-index: 2;
    position: absolute;
    top: 0;
    background: white;
    padding-top: 10px;
    line-height: normal;
    /*left: -150px;*/

}

.result-box_b2_sub {
    max-height: 300px;
      overflow-y: auto;
    overflow-x: hidden;
}

.result-box_b2_sub ul{
    margin-bottom: 10px;
}




.li_b123 {
    margin-bottom: 0px;
}

.result-box_b2 ul .li_b123{
    border-top: none;

}
.result-box_b2 ul li {
    list-style: none;
    padding: 5px 0px;
}

.result-box_b2 ul li li{
    font-size: 12px;
}

.result-box_b2 ul li li:hover {
    background: #e9f3ff;
}

.result-box_b2_sub:hover {
    background: #e9f3ff;
}


.footer-box_b2 {
    display: flex;
    flex-direction: row;
}
.footer-box_b2_1 {
    margin-left: 30px;
    width: 72%
}
.footer-box_b2_2 {
    margin-bottom: 7px;
    margin-top: 7px
}

.footer-box_b2_3  {
    font-style: italic;
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 3px
}

.footer-box_b2_3_stat {
    color: darkred;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/**************************************/













.mycent {
display: flex;
justify-content: center;
align-items: center;
}

.submit-block-wrap {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
}

.submit-button-wrap {
  margin-right: 10px;
  max-width: 100%;
}


.base-0-2-79 {
    color:  #2C2D2E;
    border: none;
    cursor: pointer;
    height: 36px;
    display: inline-block;
    outline: none;
    padding: 0 16px;
    position: relative;
    font-size:  15px;
    box-sizing: border-box;
    font-family: MailSans, HelveticaNeue, Helvetica, Arial, sans-serif;
    line-height: 1;
    text-shadow: none;
    user-select: none;
    border-radius: 8px;
    background-color: rgba(0, 16, 61, 0.06);
    font-weight: 500;
}

.primary-0-2-93 {
color: #FFFFFF;
background-color: #005FF9;

}

.primary-0-2-93:hover {
    color: #FFFFFF;
    background-color: #0053de;
}


.iconWithText-0-2-109 {
display: inline-block;
padding-left: 10px;
font-size: 0;
vertical-align: middle;
}

.form-control{
  display: block;
  width: 100%;

  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;

  color: #212529;
  appearance: none; // Fix appearance for date inputs in Safari
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #0084ff;
  border-radius: 0.375rem;
color: rgba(33,37,41, 0.65);
  /*box-shadow($input-box-shadow);*/
  /*transition($input-transition);*/


  }

.form-control:focus {
   /* border-color: #e50035 !important;*/
   /*!*-webkit-box-shadow: 0px 0px 5px rgba(109, 17, 45, 0.75) !important;*!*/
   /* box-shadow: 0 0 7px #e50035 !important;*/


}

.start2 {
    width: 20%;
    margin-right: 10px;
}
.start2 >* {
    padding-top: 10px;
 }
.start2_ {
    width: 80%;
    margin: 10px 10px;
}
.myFlex {
  display: flex;
  justify-content: center;
}
.provider22112.ss-main {
  margin-top: 10px;
}

.pagination13 {
    display: flex;
    align-items: center;
    margin-top: 10px;
    height: 40px;
}

.pagination14 {
    display: flex;
    align-items: center;
    /*background: #fff;*/
    color: #383838;
    /*padding: 10px 40px;*/
    border-radius: 6px;
    /*border:1px solid blueviolet;*/
    height: 30px;
    width: 80%;
}

.RE45V {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul li.link{
    display: flex;
  align-items: center;
  justify-content: center;
    margin: 0 10px;
    /*background: #ccc;*/
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    cursor: pointer;
}

ul li.active {
    color: #fff;
    background-image: linear-gradient(#ff4568, #ff4568);
    background-repeat: no-repeat;
}














.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    font-family: sans-serif;
}
.content-table thead tr .AC3col_1 {
    width: 10%;
}
.content-table thead tr .AC3col_2{
    width: 40%;
}



.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
    width: 20px;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}







$breakpoint: 750px;


* {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 1em auto;
  padding: 1em;
}

.is-striped { background-color: rgba(233,200,147,0.2) }


/* Table column sizing
================================== */
.date-cell  { width: 20%; }
.topic-cell  { width: 41%; }
.access-link-cell  { width: 13%; }
.replay-link-cell  { width: 13%; }
.pdf-cell  { width: 13%; }

/* Apply styles
================================== */
.Rtable {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0;
  box-shadow: 0 0 40px rgba(0,0,0,0.2);

  .Rtable-row {
    width: 100%;
    display: flex;

    .Rtable-cell {
      box-sizing: border-box;
      flex-grow: 1;
      padding: 0.8em 1.2em;
      overflow: hidden; // Or flex might break
      list-style: none;

      &.column-heading {
        background-color: #43BAC0;
        color: white;
        padding: 1em;
      }

      .Rtable-cell--heading {
        display: none;
      }

      .Rtable-cell--content {
        a {
          font-size: 2em;
          color: #333;
        }

        .webinar-date {
          font-weight: 700;
        }
      }
    }
  }
}

/* Responsive
==================================== */
@media all and (max-width: $breakpoint) {
  .is-striped {
    background-color: white;
  }

  .Rtable--collapse  {
    display: block;
    width: 100%;
    padding: 1em;
    box-shadow: none;

    .Rtable-row {
      box-sizing: border-box;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 2em;
      box-shadow: 0 0 40px rgba(0,0,0,0.2);

      .Rtable-cell {
        width: 100% !important;
        display: flex;
        align-items: center;

        .Rtable-cell--heading {
          display: inline-block;
          flex: 1;
          max-width: 120px;
          min-width: 120px;
          color: $heading-color;
          font-weight: 700;
          border-right: 1px solid #ccc;
          margin-right: 1em;
        }

        .Rtable-cell--content {
          flex: 2;
          padding-left: 1em;
        }
      }
    }

    .topic-cell {
      background-color: $heading-color;
      color: white;
      font-weight: 700;
      order: -1;

      .Rtable-cell--content {
        padding-left: 0 !important;
      }
    }

    .Rtable-row--head {
      display: none;
    }
  }
}

// Non-Flex modernizer fallback
.no-flexbox .Rtable {
  display: block;

  &.Rtable-cell {
    width: 100%;
  }
}




