<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link
            rel="stylesheet"
            href="{{ url_for('static', filename='main.css')}}"
    />

<!--    <link-->
<!--            rel="stylesheet"-->
<!--            href="{{ url_for('static', filename='css/petrovich.css')}}"-->
<!--    />-->

        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/check_box.css')}}"
    />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/select_search.css')}}"
    />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='extElements/SlimSelect/slimS.css')}}"
    />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

            <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/table.css')}}"
    />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer">


</head>

<body>

<div id = "site" class="container site" style="margin-top: 10px">

</div>

<div class="container" style="position: relative">

    <div style="width: 100%; text-align: center; border: 1px solid black; line-height: 0.1em; margin: 10px 0 20px; height: 100px"><span style="background:#fff; padding: 5px">dfdfgdf dsdffsd sdfsfsd</span></div>


    <div class="search-box_b1">

        <div class="row_b1">
            <input type="text" id="input-box_b2" placeholder="Поиск товара" autocomplete="off">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <div class="result-box_b1">
            <ul>
                <li>dddds</li>
                <li>dddds</li>
                <li>dddds</li>
            </ul>
        </div>

    </div>

    <div class="result-box_b2">

        <div class="result-box_b2_sub">
            <div class="li_b122">
                <ul class="li_b123">
                    <li id="1">
                        <div class="row">
                            <div class="col-1" style="font-weight: bold">1.</div>
                            <div class="col-6">Нет совпадений</div>
                        </div>

                        <ul class="ul_b200_sub">
                            <li>
                                <div class="row">
                                    <div class="col-1">ID:</div>
                                    <div class="col-3">EMTS9666932</div>
                                    <div class="col-7" style="display: flex; justify-content: right">0.6</div>
                                </div>
                                <div class="footer-box_b2_3">
                                    Автоматический выключатель IEK ВА 47-29 (MVA20-3-040-C) 3P 40А тип С 4,5 кА 400 В на
                                    DIN-рейку
                                </div>
                            </li>

                            <li>
                                <div class="row">
                                    <div class="col-1">ID:</div>
                                    <div class="col-3">PD225423</div>
                                    <div class="col-7" style="display: flex; justify-content: right">0.3</div>
                                </div>
                                <div class=""
                                     style="font-style: italic; font-size: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding-right: 3px">
                                    Валик Beorol Eleven полиакрил 100 мм ворс 11 мм для красок лаков грунтов и
                                    антисептиков
                                    на водной основе (2 шт.)
                                </div>
                            </li>
                        </ul>
                        <div style="border-top: 1px solid rgba(19,15,64,.15)"></div>
                    </li>

                </ul>
            </div>
            <div class="li_b122">
                <ul class="li_b123">
                    <li id="2">
                        <div class="row">
                            <div class="col-1" style="font-weight: bold">2.</div>
                            <div class="col-6">Нет совпадений</div>
                        </div>
                        <ul>
                            <li>
                                <div class="row">
                                    <div class="col-1">ID:</div>
                                    <div class="col-3">EMTS9666932</div>
                                    <div class="col-7" style="display: flex; justify-content: right">0.6</div>
                                </div>
                                <div class=""
                                     style="font-style: italic; font-size: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding-right: 3px">
                                    Автоматический выключатель IEK ВА 47-29 (MVA20-3-040-C) 3P 40А тип С 4,5 кА 400 В на
                                    DIN-рейку
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-1">ID:</div>
                                    <div class="col-3">PD225423</div>
                                    <div class="col-7" style="display: flex; justify-content: right">0.3</div>
                                </div>
                                <div class=""
                                     style="font-style: italic; font-size: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding-right: 3px">
                                    Валик Beorol Eleven полиакрил 100 мм ворс 11 мм для красок лаков грунтов и
                                    антисептиков
                                    на водной основе (2 шт.)
                                </div>
                            </li>
                        </ul>
                        <div style="border-top: 1px solid rgba(19,15,64,.15)"></div>
                    </li>

                </ul>
            </div>

        </div>
        <div class="footer-box_b2">
            <div class="footer-box_b2_1"></div>
            <div class="footer-box_b2_2" >
                <button type="button" class="btn btn-primary"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                    Закрыть
                </button>
            </div>
        </div>

    </div>


    <div class="result-box_b2" style="position: relative">
        <div class="result-box_b2_sub">
            <ul class="ul_23s">
                <li>
                    <div class="row" style="border: 1px solid red">
                        <div class="col-1">ID:</div>
                        <div class="col-3">PD225423</div>
                        <div class="col-7" style="display: flex; justify-content: right">0.3</div>
                    </div>
                    <div class="footer-box_b2_3">
                        Валик Beorol Eleven полиакрил 100 мм ворс 11 мм для красок лаков грунтов и антисептиков на
                        водной основе (2 шт.)
                        <div class="row">
                            <div class="footer-box_b2_3_stat col-10">
                                Материал &rarr; Отделочный материал &rarr; Плитка &rarr; Плитка настенная
                            </div>
                            <div class="footer-box_b2_3_stat col-2">
                                <a href="ds">Ввести</a>
                            </div>
                        </div>
                    </div>

                </li>
            </ul>
            <!--                <div style="border-top: 1px solid rgba(19,15,64,.15)"></div>-->


        </div>
        <div class="footer-box_b2">
            <div class="footer-box_b2_1"></div>
            <div class="footer-box_b2_2">
                <button type="button" class="btn btn-primary"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                    Закрыть
                </button>
            </div>
        </div>
    </div>

    <div class="result-box_b2" style="position: relative">
        <div class="result-box_b2_sub">
            <ul class="ul_23s">
                <li>
                    <div class="footer-box_b2_3 row">
                        <div class="footer-box_b2_3_stat col-1" style=" padding-left: 0">0.78</div>
                        <div class="footer-box_b2_3_stat col-9">
                            Материал &rarr; Отделочный материал &rarr; Плитка &rarr; Плитка настенная
                        </div>
                        <div class="footer-box_b2_3_stat col-2" style=" padding-left: 0">
                            <a href="ds">Ввести</a>
                        </div>

                    </div>

                </li>
            </ul>

        </div>
        <div class="footer-box_b2">
            <div class="footer-box_b2_1"></div>
            <div class="footer-box_b2_2">
                <button type="button" class="btn btn-primary"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                    Закрыть
                </button>
            </div>
        </div>
    </div>









</div>

<div class="container myFlex">
dsdsds
</div>



<div class="container" data-test="data-test-checkbox">
    <div>
        <input id="checkbox-1" type="checkbox" class="pt-checker-tag___bRRWL" name="novelty" labelhtml="[object Object]"
               value="">
        <label for="checkbox-1" class="pt-checkbox-label___ahKyB">
            <div class="filter-titte-qty ">Новинки1</div>
        </label>
    </div>

    <div class="m-2">
        <input id="checkbox-2" type="checkbox" class="pt-checker_L" name="novelty" labelhtml="[object Object]" value="">
        <label for="checkbox-2" class="pt-checkbox-label_L">
            <div class="filter-titte-qtyw ">Новинки2</div>
        </label>
    </div>
    <div class="m-2">
        <input id="checkbox-3" type="checkbox" class="pt-checker_L" name="novelty" labelhtml="[object Object]" value="">
        <label for="checkbox-3" class="pt-checkbox-label_L">
            <div class="filter-titte-qtyw ">Новинки2</div>
        </label>
    </div>
    <div class="m-2">
        <input id="checkbox-4" type="checkbox" class="pt-checker_L" name="novelty" labelhtml="[object Object]" value="">
        <label for="checkbox-4" class="pt-checkbox-label_L">
            <div class="filter-titte-qtyw ">Новинки2</div>
        </label>
    </div>
    <div class="row">
        <div class="col">
            <div class="select-box" style="margin-bottom: 10px">
                <div class="select-option">
                    <input type="text" placeholder="Выбрать" id="soValue" readonly name="">
                </div>
                <div class="content">
                    <div class="search">
                        <input type="text" id="optionSearch" placeholder="Поиск" name="">
                    </div>
                    <ul class="options" >
                        <li value="1">HTML</li>
                        <li>JAVA</li>
                        <li>CSS</li>
                        <li>PHP</li>
                        <li>PYTHON</li>
                        <li>REACT</li>
                        <li>Angular</li>
                    </ul>
                </div>
            </div>

            <div class="select-box" style="margin-bottom: 10px">
                <div class="select-option">
                    <input type="text" placeholder="Выбрать" id="soValue_1" readonly name="">
                </div>
                <div class="content">
                    <div class="search">
                        <input type="text" id="optionSearch_1" placeholder="Поиск" name="">
                    </div>
                    <ul class="options" >
                        <li value="1">HTML4</li>
                    </ul>
                </div>
            </div>


        </div>


         <select id="multiple" multiple>
        <option value="value 1" selected>sdfdfds</option>
        <option value="value " selected="selected">Value 2</option>
        <option value="value 3">Value 3</option>
        <option value="value 7">Value 4</option>
        <option value="value 2">Value 5</option>
        <option value="value 3">Value 6</option>
        <option value="value 1">Value 7</option>
        <option value="value 2">Value 8</option>
        <option value="value 3">Value 9</option>
        <option value="value 1">Value 10</option>
        <option value="value 2">Value 11</option>
        <option value="value 3">Value 12</option>
    </select>


    </div>

</div>


<div class="container">
    <table class="content-table">
        <thead>
        <tr>
            <th class="AC3col_1" >Rank</th>
            <th class="AC3col_2">Name</th>
            <th>Points</th>
            <th>Team</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td style="max-width: 10%" >
            <div style="max-width: 20px">
                <span></span>
                <div>
                    <span>dfsdfsdfdsfdsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsd</span>
                </div>
            </div>
            </td>
            <td>88,110</td>
            <td>dcode</td>
        </tr>
        <tr class="active-row_">
            <td>2</td>
            <td>Sally</td>
            <td>72,400</td>
            <td>Students</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Nick</td>
            <td>52,300</td>
            <td>dcode</td>
        </tr>
         <tr>
            <td>3</td>
            <td>Nick</td>
            <td>52,300</td>
            <td>dcode</td>
        </tr>
         <tr>
            <td>3</td>
            <td>Nick</td>
            <td>52,300</td>
            <td>dcode</td>
        </tr>
         <tr>
            <td>3</td>
            <td>Nick</td>
            <td>52,300</td>
            <td>dcode</td>
        </tr>
        </tbody>
    </table>

</div>


<div class="wrapper">
  <div class="Rtable Rtable--5cols Rtable--collapse">
    <div class="Rtable-row Rtable-row--head">
      <div class="Rtable-cell date-cell column-heading">Date</div>
      <div class="Rtable-cell topic-cell column-heading">Topic</div>
      <div class="Rtable-cell access-link-cell column-heading">Access Link</div>
      <div class="Rtable-cell replay-link-cell column-heading">Replay</div>
      <div class="Rtable-cell pdf-cell column-heading">Checklist</div>
    </div>

    <div class="Rtable-row">
      <div class="Rtable-cell date-cell">
        <div class="Rtable-cell--heading">Date</div>
        <div class="Rtable-cell--content date-content"><span class="webinar-date">August 2nd, 2016</span><br />6:00 pm (CDT)</div>
      </div>
      <div class="Rtable-cell topic-cell">
        <div class="Rtable-cell--content title-content">The “Rock-Solid” Foundations Quickstart</div>
      </div>
      <div class="Rtable-cell access-link-cell">
        <div class="Rtable-cell--heading">Access Link</div>
        <div class="Rtable-cell--content access-link-content"><a href="#0"><i class="ion-link"></i></a></div>
      </div>
      <div class="Rtable-cell replay-link-cell">
        <div class="Rtable-cell--heading">Replay</div>
        <div class="Rtable-cell--content replay-link-content"><a href="#0"><i class="ion-ios-videocam"></i></a></div>
      </div>
      <div class="Rtable-cell Rtable-cell--foot pdf-cell">
        <div class="Rtable-cell--heading">Checklist</div>
        <div class="Rtable-cell--content pdf-content"><a href="#0"><i class="ion-document-text"></i></a></div>
      </div>
    </div>

    <div class="Rtable-row is-striped">
      <div class="Rtable-cell date-cell">
        <div class="Rtable-cell--heading">Date</div>
        <div class="Rtable-cell--content date-content"><span class="webinar-date">September 6th, 2016</span><br />6:00 pm (CDT)</div>
      </div>
      <div class="Rtable-cell topic-cell">
        <div class="Rtable-cell--content title-content">Cash Flow Genesis</div>
      </div>
      <div class="Rtable-cell access-link-cell">
        <div class="Rtable-cell--heading">Access Link</div>
        <div class="Rtable-cell--content access-link-content"><a href="#0"><i class="ion-link"></i></a></div>
      </div>
      <div class="Rtable-cell replay-link-cell">
        <div class="Rtable-cell--heading">Replay</div>
        <div class="Rtable-cell--content replay-link-content"><a href="#0"><i class="ion-ios-videocam"></i></a></div>
      </div>
      <div class="Rtable-cell Rtable-cell--foot pdf-cell">
        <div class="Rtable-cell--heading">Checklist</div>
        <div class="Rtable-cell--content pdf-content"><a href="#0"><i class="ion-document-text"></i></a></div>
      </div>
    </div>

    <div class="Rtable-row">
      <div class="Rtable-cell date-cell">
        <div class="Rtable-cell--heading">Date</div>
        <div class="Rtable-cell--content date-content"><span class="webinar-date">October 4th, 2016</span><br />6:00 pm (CDT)</div>
      </div>
      <div class="Rtable-cell topic-cell">
        <div class="Rtable-cell--content title-content">Exposing Wall Street’s Biggest Con</div>
      </div>
      <div class="Rtable-cell access-link-cell">
        <div class="Rtable-cell--heading">Access Link</div>
        <div class="Rtable-cell--content access-link-content"><a href="#0"><i class="ion-link"></i></a></div>
      </div>
      <div class="Rtable-cell replay-link-cell">
        <div class="Rtable-cell--heading">Replay</div>
        <div class="Rtable-cell--content replay-link-content"><a href="#0"><i class="ion-ios-videocam"></i></a></div>
      </div>
      <div class="Rtable-cell Rtable-cell--foot pdf-cell">
        <div class="Rtable-cell--heading">Checklist</div>
        <div class="Rtable-cell--content pdf-content"><a href="#0"><i class="ion-document-text"></i></a></div>
      </div>
    </div>

    <div class="Rtable-row is-striped">
      <div class="Rtable-cell date-cell">
        <div class="Rtable-cell--heading">Date</div>
        <div class="Rtable-cell--content date-content"><span class="webinar-date">November 1st, 2016</span><br />6:00 pm (CDT)</div>
      </div>
      <div class="Rtable-cell topic-cell">
        <div class="Rtable-cell--content title-content">Member’s Choice</div>
      </div>
      <div class="Rtable-cell access-link-cell">
        <div class="Rtable-cell--heading">Access Link</div>
        <div class="Rtable-cell--content access-link-content"><a href="#0"><i class="ion-link"></i></a></div>
      </div>
      <div class="Rtable-cell replay-link-cell">
        <div class="Rtable-cell--heading">Replay</div>
        <div class="Rtable-cell--content replay-link-content"><a href="#0"><i class="ion-ios-videocam"></i></a></div>
      </div>
      <div class="Rtable-cell Rtable-cell--foot pdf-cell">
        <div class="Rtable-cell--heading">Checklist</div>
        <div class="Rtable-cell--content pdf-content"><a href="#0"><i class="ion-document-text"></i></a></div>
      </div>
    </div>

    <div class="Rtable-row">
      <div class="Rtable-cell date-cell">
        <div class="Rtable-cell--heading">Date</div>
        <div class="Rtable-cell--content date-content"><span class="webinar-date">December 6th, 2016</span><br />6:00 pm (CST)</div>
      </div>
      <div class="Rtable-cell topic-cell">
        <div class="Rtable-cell--content title-content">How (and Why) to Never Borrow From a Bank Again</div>
      </div>
      <div class="Rtable-cell access-link-cell">
        <div class="Rtable-cell--heading">Access Link</div>
        <div class="Rtable-cell--content access-link-content"><a href="#0"><i class="ion-link"></i></a></div>
      </div>
      <div class="Rtable-cell replay-link-cell">
        <div class="Rtable-cell--heading">Replay</div>
        <div class="Rtable-cell--content replay-link-content"><a href="#0"><i class="ion-ios-videocam"></i></a></div>
      </div>
      <div class="Rtable-cell Rtable-cell--foot pdf-cell">
        <div class="Rtable-cell--heading">Checklist</div>
        <div class="Rtable-cell--content pdf-content"><a href="#0"><i class="ion-document-text"></i></a></div>
      </div>
    </div>

    <div class="Rtable-row is-striped">
      <div class="Rtable-cell date-cell">
        <div class="Rtable-cell--heading">Date</div>
        <div class="Rtable-cell--content date-content"><span class="webinar-date">January 3rd, 2017</span><br />6:00 pm (CST)</div>
      </div>
      <div class="Rtable-cell topic-cell">
        <div class="Rtable-cell--content title-content">How to Become the Best Version of Yourself — in Business, Finances and Life</div>
      </div>
      <div class="Rtable-cell access-link-cell">
        <div class="Rtable-cell--heading">Access Link</div>
        <div class="Rtable-cell--content access-link-content"><a href="#0"><i class="ion-link"></i></a></div>
      </div>
      <div class="Rtable-cell replay-link-cell">
        <div class="Rtable-cell--heading">Replay</div>
        <div class="Rtable-cell--content replay-link-content"><a href="#0"><i class="ion-ios-videocam"></i></a></div>
      </div>
      <div class="Rtable-cell Rtable-cell--foot pdf-cell">
        <div class="Rtable-cell--heading">Checklist</div>
        <div class="Rtable-cell--content pdf-content"><a href="#0"><i class="ion-document-text"></i></a></div>
      </div>
    </div>
  </div>
</div>










<footer class="py-3 " style="margin-top: 500px">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    </ul>
    <p class="text-center text-muted">© 2024 MASTER</p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

<script
        type="text/javascript"
        src="{{ url_for('static', filename='start.js') }}"
></script>



<script
        type="text/javascript"
        src="{{ url_for('static', filename='extElements/SlimSelect/slimS.js') }}"
></script>

<script
        type="text/javascript"
        src="{{ url_for('static', filename='js/select_search.js') }}"
></script>

<script
        type="text/javascript"
        src="{{ url_for('static', filename='start2.js') }}"
></script>



</body>


</html>